.container {
    display: grid;
    width: 100%;
    padding: 15px;
    aspect-ratio: 5/4;
    border-radius: 10px;
    grid-template-rows: 1fr auto;
    background-color: rgba(251, 235, 149, 0.8);

    .content{

        p {
            color: #3c3d43;
            line-height: 25px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: var(--fs-md);
            font-weight: var(--fw-normal);
        }

        .expanded{
            display: block;
        }

        .textarea{
            height: 100%;
            background-color: transparent;
        }

        button{
            background-color: transparent;
            color: var(--grey);
            line-height: 20px;
            cursor: pointer;
            text-transform: capitalize;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        font-size: var(--fs-sm);
        color: var(--grey);
        margin-top: auto;
    }
}
